@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Arimo|La+Belle+Aurore|Mrs+Saint+Delafield|Passion+One|Permanent+Marker|Patua+One|Rock+Salt|Varela');


/*font-family: 'Alex Brush', cursive;
font-family: 'Mrs Saint Delafield', cursive;
font-family: 'Passion One', cursive;
font-family: 'Arimo', sans-serif;
font-family: 'La Belle Aurore', cursive;*/


* {	
	margin: 0; 
	padding:0; 
	box-sizing: border-box;
}



html, body {
	height: 100%;
	background-color: transparent;
	font: 2vmin 'Arimo', sans-serif;
	justify-content: center;
	margin: auto;
	overflow: auto;
	font-family: 'Arimo', sans-serif;

}

img {
	height: auto;
	max-width: 100%;
}

#body_wrapper {
	height: 100%;
}



/*-=================-*/
/*-=================-*/
/*-=  HEADER ONLY  =-*/
/*-=================-*/
/*-=================-*/


#cover_image {

	background: url(../images/bg1.jpg) fixed no-repeat bottom center;
	background-size: cover;
	width: 100%;
	height: 100%;
	justify-content: center;
	padding-top: 50px;
	position: relative;

}


header h1 {
/*	font: 15vmin 'Passion One', bold;*/
		font: 12vmin 'Varela';

	
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
	display: block;
	width: 100%;
	animation: bounceInDown 1s;
}

/* header h2 */
#typed_div {
	text-align: center;
	font-size: 4vmin;
	font-family: 'Rock Salt', monoscript;
			text-shadow: 0px 0px 10px rgba(0,0,0,1);

	color: white;
	opacity: 0;
	animation: fadeIn 1s 1s forwards;
	/*text-shadow: 0px 0px 1px rgba(0,0,0,.75);*/
		font-weight: light;
	
	display: block;
	width: 100%;
	
}

#typed {
	font-weight: lighter;
	color: white;
/*
	color: black;
	font-style: italic;
*/
	text-shadow: none;
}

.headp {
	display: block;
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0;
	font: 4vmin 'Varela';
	margin-top: 20px;
	color: white;
}

#headdiv {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	text-align: center;
	align-items: center;
	bottom: -20px;
	left: 10%;
	font: 4vmin 'Varela';
	margin-top: 20px;
	color: white;
	background-color: rgb(10, 10, 10);
	box-shadow: 0px -4px 3px rgba(10, 10, 10, 0.90);
	z-index: 99;
	
}

#headdiv i {
	vertical-align: top;
}

#headfoot {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: black;
	z-index: 0;;
	

	background-color: rgba(10, 10, 10, 1);
	color: white;




	box-shadow: 0px -4px 3px rgba(10, 10, 10, 0.90);
	
}


#icon_container {
	display: none;
	color: darkseagreen;

}

/*

#scrollgif {
	justify-content: center;
	max-width: 50px;
	max-height: 50px;
	position: absolute;
	bottom: -10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

}
*/









/*-=================-*/
/*-=================-*/
/*-=  ACTUAL BODY  =-*/
/*-=================-*/
/*-=================-*/





nav {
 	display:flex;
 	flex-flow: row wrap;
 	flex-direction: row;

 	width: 100%;
	position: sticky;
		top: 0;
		left: 0;
	border-bottom: 2px solid gray;
	align-items: center;
	background-color: #0a0a0a;
	z-index: 99;

	justify-content: space-between;
	min-height: 7%;
	height: auto;
}

.nav_menu {

	/*for arriving and leaving*/
	display: inline-block;
	transition: all 0.5s;
	overflow: hidden;
	padding-bottom: 3px;
}

nav a h3 {
	display: none;
}


#contact {
margin-left: auto;
}

.spinners, .nav_menu p {
	display: inline-block;
	font-size: 20px;
}

	nav a {
		display: block;
		margin: 3px;
	}

nav a:hover h3, nav a:hover i, nav a:hover .spinners {
	color: white;
}
nav a:hover .spinners  {
	animation: spin 0.3s linear;
}




nav a:link, a:visited {
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: hsla(0,0%,100%,.75);
	font-weight: bold;
	font-size: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
	color: white;
}


.dropdown_pages {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown_pages a, .dropdown_pages a:visited, .dropdown_pages a:link {
    color: black;
}

.dropdown_pages a:hover {background-color: #ddd}

.dropdown:hover .dropdown_pages {
    display: block;
}

.current_page {
	font-style: italic;
	color: lightgray !important	;
	cursor: not-allowed;
}

/*-------------------------------------------------------*/



#form_overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
	background-color: #0a0a0a;
    overflow-x: hidden;
    transition: 0.5s;
     text-decoration: none;

}

#overlay-content {
	opacity: 0;
    justify-content: left;
    text-align: left;
	margin: 5% 5% 0;
    font-size: 25px;
    color: white;
    letter-spacing: normal;
    line-height: 35px;
    padding-top: 30px;
}


#overlay-content form h1 {
	padding-bottom: 20px;

}
#overlay-content form h3 {
	font-size: inherit;
	display: inline;
	font-weight: normal;

}

#overlay-content form input[type=text] {
	text-transform: capitalize;

}

#overlay-content form input[type=text], input[type=email], textarea {
	width: auto;
	padding: 5px 3px;
	margin: 6px 3px;

	border: none;
	outline: none;

	font-style: underline;
	border-bottom: 1px solid #fff;
	font-size: 22px;
	transition: all .3s;
	color: #D7DCF2;

	background-color: inherit;
		resize: none;
}

#tarea_label {
	padding-top: 10px;
	display: block;
	width: 100%;
}

#mail_label {
	display: block;
	width: 100%;	

}

input [type=email] {
	display: block;	
	width: 100%;
}

input[type=submit] {
	display: block;
	min-width: 20%;
	width: auto;
	background-color: #D7DCF2;
	color: black;
	padding: 15px 30px;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 15px;
	transition: all .3s;
	cursor: pointer;
	font-size: inherit;
}

input[type=submit]:hover,
input[type=submit]:focus {
	color: black;
	background-color: white;
	font-size: 101%;
	clear:left;
}


.overlay a {
    text-decoration: none;
}
.overlay a:hover .spinners {
	animation: spin 0.3s linear;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #FFF;
}


/*---------------------__*/




#s1_container {
	position: relative;
	padding: 10px;
	transition: margin-left 0.5s;
	margin-right: 0;
	font-family: consolas, serif;
	color: darkgray;
	margin-right: auto;
	margin-left: auto;
	

	background: url(../images/dd1_full.jpg) scroll no-repeat top left;
	background-size: contain;	
	width: 100%;
	height: auto;
	justify-content: center;
	padding-left: 20%;
	
	
	
	
}

#s2_container {
	background: url(../images/bg2.jpg) fixed no-repeat bottom center;
	background-size: cover;
	width: 100%;
	height: 80%;
	justify-content: center;
	padding-top: 50px;
	position: static;

	
		

}




.second_p {
	columns: 2;
	column-rule: 1px solid lightgray;
}

#s1_container hgroup h1 {
	font-size: 60px;
	margin-top: 20px;
	font-family: 'Arimo', sans-serif;
	color: black;
}
#s1_container hgroup h2 {
	font-size: 34px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 20px;
	font-family: 'Arimo', sans-serif;
	color: black;
	display: inline-block;

	
}
/*
#s1_container img {
margin: auto;
margin-bottom: 20px;
}
#s1_container img:hover {
	filter: blur(1px);
}
*/




#s1_container p {
	padding-bottom: 30px;
}

#s1_container hgroup h2 i {
	font-style: normal;
}

#s1_container hgroup h2 span {
		margin-left: 10px;
	border-left: 1px solid black;
	
	
	color: slategray;
	font-size: 20px;
	justify-content: center;
}





.extra_pages {
	width: 100%;
	display: block;

	background-color: rgba(10, 10, 10, 1);
	color: white;


	margin-top: 10px;
	padding: 10px;

	box-shadow: 0px -4px 3px rgba(10, 10, 10, 0.90);
}


footer {
	width: 100%;
	position: relative;
	/*position: absolute;
			bottom: 0;
			left: 0;*/

	background-color: rgba(10, 10, 10, 1);
	color: white;


	padding: 10px;

	box-shadow: 0px -4px 3px rgba(10, 10, 10, 0.90);
}


footer p {
	padding: 5px;
	max-width: 80%;
}

footer p strike {
	color: #4D565E;
	font-size: 2vmin;
}

footer p b {
	display: inline-block;
	font-size: 14px;
	transform: rotate(-10deg);
}

#by_me {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
	font-size: 2vmin;
	line-height: normal;
}
#forD {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
	font-size: 2vmin;
	line-height: normal;
}

.by_me_pages {
	position: absolute;
	bottom: 1px;
	right: 2px;
	color: white;
	font-size: 2vmin;
	line-height: normal;

}

/*
.fa-battery-empty
.fa-battery-quarter
*/



















/*-=================-*/
/*-=================-*/
/*-= MEDIA QUERIES =-*/
/*-=================-*/
/*-=================-*/



@media all and (min-width: 500px) {

	#icon_container {
	display: block;

	font-size: 1.5vmin;

	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 2px;
	bottom: 2px;
	text-align: center;
	margin-right: 10px;

	}

	#icon_container i {
		display: block;
		padding-bottom: 5px;
	}


/*
	#scrollgif {
	max-width: 50px;
	max-height: 50px;
	position: absolute;
	bottom: -10px;
	margin-right: 10px;
	}
*/

	nav {
		height: auto;
	}

	nav a h3 {
		display: block;
	}


	.nav_menu a:link, a:visited {
		font-size: 24px;
	}

    .overlay a {font-size: 24px}
    .overlay div.spinners {font-size: 30px;}
    .overlay .closebtn {
        font-size: 24px;
        top: 10px;
        right: 20px;
    }

	footer p i { /* was too big on mobile*/
	font-size: 15px;
	}	

	#overlay-content {
    line-height: 45px;
    padding-top: 15px;
    font-size: 30px;
	}
	
	
}






/*-=================-*/
/*-=================-*/
/*-=   ANIMATIONS  =-*/
/*-=================-*/
/*-=================-*/



@-webkit-keyframes bounceInDown {
/*    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }*/
    0% {
        opacity: 0;
        transform: translate3d(0,-5000px,0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0,25px,0)
    }
    75% {
        transform: translate3d(0,-10px,0)
    }
    90% {
        transform: translate3d(0,5px,0)
    }
    to {
        transform: none
    }
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1;}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity:0;}
}
@keyframes test {
	from {width: 0;}
	to {width: 100%;}
}
@keyframes test2 {
	from {width: 100%;}
	to {width: 0;}
}




/*.nav_menu  {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.nav_menu:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  height: 4px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

*/













/*-=================-*/
/*-=================-*/
/*-=       END     =-*/
/*-=================-*/
/*-=================-*/



















